@charset "UTF-8";
/* Обнуление */
p {
  margin: 0;
  padding: 0; }

div {
  display: block; }

/*----------------------------*/
.block {
  padding: 30px;
  font-size: 50px;
  line-height: 30px; }
  .block > p {
    color: green; }
  .block span {
    color: red; }
  .block .block__text {
    font-size: 80px; }

a {
  font-size: 50px; }
  a:hover {
    color: black; }
